.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justifycenter {
    justify-content: center;
}

.itemscenter {
    align-items: center;
}


.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.round {
    border-radius: 7px;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.circle-wrapper {
  width: 50px;
  height: 50px;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;   
  right: 12px;    
  opacity: 0;
  transition: all 0.3s ease-out;
}
.card:hover .circle-wrapper {
  opacity: 1;
  transform: translateY(-5px); 
}


.cards::-webkit-scrollbar {
  width: 8px;
}
.cards::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.cards::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
.cards::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.cards {
  scrollbar-color: #aaa #2e2e2e;
  scrollbar-width: thin;
}

.songlist::-webkit-scrollbar {
  width: 8px;
}
.songlist::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.songlist::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
.songlist::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.songlist {
  scrollbar-color: #aaa #2e2e2e;
  scrollbar-width: thin;
}



#volume-seekbar {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #1ed760 50%, #4d4d4d 50%);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Chrome / Safari */
#volume-seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: none;
  position: relative;
  top: 50%;
  transform: translateY(-0%);
  cursor: pointer;
}

/* Firefox */
#volume-seekbar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
}

/* Firefox track */
#volume-seekbar::-moz-range-track {
  background: #4d4d4d;
  height: 4px;
  border-radius: 5px;
}



